{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
	
	<head>
		<title >Issues Manager System</title>
		<meta charset="utf-8">
		<meta name = "keywords" content = "IMS,ims,joseph chingalo,chingalo">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<!-- styles files for the website -->		
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/bootstrap.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/jquery-ui.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/bootstrap-responsive.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/docs.css" >
		<link rel="stylesheet" media='screen' href="{{STATIC_URL}}css/prettify.css" >
		<link rel="stylesheet" media= 'screen' href="{{STATIC_URL}}css/font-awesome/css/font-awesome.min.css">	

		<!-- favicon for the website -->
		<link rel="icon" href="{{STATIC_URL}}img/ims.png" type="image/x-icon">	
		<script type="text/javascript">
			{% block extra_scriptt %}{% endblock %}
		</script>
		<style type="text/css">
			

		</style>

	</head>
	<!-- {{STATIC_URL}}img/background.png-->
	
	<body >	
		

		<div class = "container-fluid">
			<h3 style = "text-align:center;margin-bottom:3%;">Issues Management System<br> IMS</h3>
			{% block contents %}{% endblock %}
		</div>


		<!-- necessary scripts for the website -->
		<script src="{{STATIC_URL}}js/jquery-1.10.2.js" type = "text/javascript"></script>
      	<script src="{{STATIC_URL}}js/jquery-ui.js" type = "text/javascript"></script>		
		<script src="{{STATIC_URL}}js/bootstrap.min.js" type = "text/javascript"></script>
		<script src="{{STATIC_URL}}js/validation.js" type = "text/javascript"></script>	
		
	
	</body>
</html>	
