{% extends "base.html" %}


{% block contents %}


<!-- sign in form for registered user in IMS system-->
<div class  = "row" style = "margin-top:13%;pading:5%;">

	<div class = "col-sm-3 col-md-4 col-lg-4 "></div>

	<div class = "col-xs-12 col-sm-6 col-md-4 col-lg-4 " style = "padding:2%; background-color:lightblue;">
		<p >message</p>
		<form role = "form" onsubmit = "return checkSignInPassword()">
			{% csrf_token %}
			<div class="form-group">
				<div class = "input-group">
					<div class="input-group-addon">
						<span class = "glyphicon glyphicon-user" aria-hidden="true"></span>
					</div>
					<input type="email" class="form-control" name = "registered_email" id="registered_email" placeholder="User email">
				</div>
			</div>

			<div class="form-group">
				<div class = "input-group">
					<div class="input-group-addon">
						<span class = "glyphicon glyphicon-lock" aria-hidden="true"></span>
					</div>
					<input type="password" class="form-control" name = "registered_password" id="registered_password" placeholder="User password">
				</div>
			</div>

			<div class = "form-group">
				<button class = "btn btn-primary form-control">Sign In</button>
			</div>


		</form>	


	</div>

	<div class = "col-sm-3 col-md-4 col-lg-5 "></div>

</div>





<!-- sign up form for registration of users-->
<div class  = "row" style = "margin-top:;"></div>




{% endblock %}