{% extends "base.html" %}

<!-- addition script-->
{% block extra_scriptt %}
	
	
{% endblock %}



{% block contents %}
<!-- contents part -->
<div class = "row-fluid" style = "margin-bottom:2%;border-bottom: 2px solid lightblue;border-top: 2px solid lightblue;padding:1%;border-radius:5px;min-height:200px;">
	
	<!-- menu for other devices other than mobiles -->
	<div class = "hidden-xs col-sm-4 col-md-3 col-lg-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><a href="{% url 'viewAllProject' loginUser.id %}">Projects</a></li>
			<li role="presentation"><a href="#" data-toggle="modal" data-target=".create_project">Create Project</a></li>
			<li role="presentation"><a href="#">My profile</a></li>
		</ul>
	</div>
	<!-- end of menu for other devices other than mobiles-->

	<!-- pop up form for create new project-->
	<div class="modal fade  create_project" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
		<div class="modal-dialog" >
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Add New Project's form</h4>
				</div>	
				<div class="modal-body" style = "min-height:200px;">

					<!-- form for create new project-->
					<form role = "form" onsubmit = "return validateNewProject()">
						{% csrf_token %}
						<div class = "form-group">
			    			<input type="text" class="form-control" id="title_of_project" name = "title_of_project" placeholder="Title Of the project">
			    		</div>
			    		<div class = "form-group">
			    			<textarea class = "form-control" id = "description_of_project" name = "description_of_project" row = "10" placeholder = "What is the project about?"></textarea>
			    		</div>
			    		<div class = "form-group">
			    			<input class="btn btn-info form-control" type="submit" value="Submit">
			    		</div>	
					</form>

				</div>
			</div>
		</div>
			
	</div>
	
	<!-- end of pop up form for create new project-->



	<!-- contents part-->
	{% if loginUser.login_status == "log_in" %}

	{% block user_login_contents %}{%endblock%}

	{% else %}

	<script type="text/javascript">
		window.location.href = "/"
	</script>
	{% endif %}
	
	
</div>

<!-- footer part-->
<div class = "row-fluid" >
	<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" style = "margin-top: 1%;	">
		<p style = "text-align:center;margin-top:1.5%;">
			Powered by Unyayo Systems Limited<br>
			&copy; {% now " Y" %}<br> all right reserved
		</p>
	</div>	
</div>

{% endblock %}