{% extends "base.html" %}

<!-- addition script-->
{% block extra_scriptt %}
	
	
{% endblock %}



{% block contents %}

<div class = "row">
	<!-- profile picture for login user for tablets and pc-->
	<div class = "hidden-xs col-sm-2 col-md-1 col-lg-1 ">
		<img src="{{STATIC_URL}}img/background.png" alt="" height = "75px" width = "100%" class="img-circle">
	</div>

	<!-- page contents for the site-->
	<div class = "col-xs-12 col-sm-10 col-md-11 col-lg-11">

		<!-- logou and notifiction icons-->
		<div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>

		<div class = "col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<a href="#"><span class = "glyphicon glyphicon-comment"></span>	</a>
		</div>
		<div class = "col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<a href="#"><span class = "glyphicon glyphicon-off"></span>	</a>
		</div>

		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12"> Page contents</div>

	</div>
</div>


<div class = "row">
	<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p style = "text-align:center;margin-top:1.5%;">
			Powered by Unyayo System Ltd
		</p>
	</div>	
</div>

{% endblock %}