{% extends "base.html" %}

<!-- addition script-->
{% block extra_scriptt %}
	function checkSignInForm(){
		email = document.getElementById('registered_email').value;
		password = document.getElementById('registered_password').value;

		if(email == ""){
		
			document.getElementById('registered_email').focus();
			return false;
		}

		if(password == ""){

			document.getElementById('registered_password').focus();
			return false;
		}

	}

	
{% endblock %}


{% block contents %}


<!-- sign in form for registered user in IMS system-->
<div class  = "row-fluid" style = "margin-top:10%;">

	<div class = "col-sm-3 col-md-4 col-lg-4 "></div>

	<div class = "col-xs-12 col-sm-6 col-md-4 col-lg-4 " style = "padding:1.9%; background-color:lightblue;border-radius:5px;">
		<p style = "text-align:center;" >Enter Email &amp; Password</p>
		<form role = "form" action = "{% url 'signin' %}" method = "POST" onsubmit = "return checkSignInForm()">
			{% csrf_token %}
			<div class="form-group">
				<div class = "input-group">
					<div class="input-group-addon">
						<span class = "glyphicon glyphicon-user" aria-hidden="true"></span>
					</div>
					<input type="email" class="form-control" name = "registered_email" id="registered_email" placeholder="User email">
				</div>
			</div>

			<div class="form-group">
				<div class = "input-group">
					<div class="input-group-addon">
						<span class = "glyphicon glyphicon-lock" aria-hidden="true"></span>
					</div>
					<input type="password" class="form-control" name = "registered_password" id="registered_password" placeholder="User password" onpaste = "return false;">
				</div>
			</div>

			<div class = "form-group">
				<button class = "btn btn-primary form-control">Sign In</button>
			</div>

		</form>	
		<div style = "margin-top:1%;padding:1%;text-align:center;">
			<a href="#">forgetting password?</a><br>
			<p>or</p>



			<!-- for pop up sign up form for registration purpose-->

			<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Sign Up</a><br>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
			  <div class="modal-dialog" >
			    <div class="modal-content" >
			      
			    <div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    	<h4 class="modal-title">Registration form</h4>
			    </div>

			    <!-- sign up form-->
			    <div class="modal-body" style = "min-height:300px;">

			    	<form role = "form" action = "{% url 'signup' %}" method = "POST" onsubmit = "return checkSignUpForm()">
			    		{% csrf_token %}
			    		<div class = "form-group">
			    			<input type="text" class="form-control" id="full_name" name = "full_name" placeholder="Full name">
			    		</div>

			    		<div class = "form-group">
			    			<input type="email" class="form-control" id="email" name = "email" placeholder="E mail">
			    		</div>

			    		<div class = "form-group">
			    			<input type="text" class="form-control" id="mobile_number" name = "mobile_number" placeholder="Mobile number">
			    		</div>

			    		<div class = "form-group">
			    			<p id = "password_message" style = "color:red;"></p>
			    			<input type="password" class="form-control" id="password" name = "password" placeholder="Password" onpaste="return false;">
			    		</div>

			    		<div class = "form-group">			    			
			    			<input type="password" class="form-control" id="confirm_password" name = "password" placeholder = "Re-type password" onpaste="return false;">
			    		</div>

			    		<div class = "form-group">
			    			<button class = "btn btn-primary form-control">Sign Up</button>
			    		</div>
			    	</form>

			    </div>


			    </div>
			  </div>
			</div>

		</div>
	</div>

	<div class = "col-sm-3 col-md-4 col-lg-4 "></div>

</div>


{% endblock %}