{% extends "home_page.html" %}

{% block user_login_contents %}

<div class = "col-xs-12 col-sm-8 col-md-9 col-lg-9">

	<!-- prroject details-->
	<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h4 style = "color:#66afe9;">{{project|title}}</h4>
		<p>			
			<span style = "font-style: italic;font-size:12px;color:black;" >{{project.description}}</span>
		</p>
		
		<p>
			<span style = "font-style: italic;font-size:12px;color:#66afe9;" >Created on {{project.date_of_creation}} by {{project.project_owner|title}}</span>
			
		</p>
		<hr>
		
	</div>

	<!--  actions button-->
	<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<button style = "padding-right:5%;margin-top:1%;border-radius:0px;"  type="button" class="btn btn-info" data-toggle="modal" data-target="#add_collaborator">
			<span class = "glyphicon glyphicon-plus"> Collaborator</span>
		</button>
	
		<button style = "padding-right:5%;margin-top:1%;border-radius:0px;"  type="button" class="btn btn-info" data-toggle="modal" data-target="#add_issue">
			<span class = "glyphicon glyphicon-plus"> Issue</span>
		</button>
	
		<button style = "padding-right:5%;margin-top:1%;border-radius:0px;"  type="button" class="btn btn-info" data-toggle="modal" data-target="#edit_project">
			<span class = "glyphicon glyphicon-pencil"> Edit</span>
		</button>

		<button style = "padding-right:5%;margin-top:1%;border-radius:0px;"  type="button" class="btn btn-info" data-toggle="modal" data-target="#delete_project">
			<span class = "glyphicon glyphicon-trash"> Delete</span>
		</button>

		<button style = "padding-right:5%;margin-top:1%;border-radius:0px;" type="button" class="btn btn-info" data-toggle="modal" data-target="#view_issues">
			<span class = "glyphicon glyphicon-eye-open"> Issues</span>
		</button>

		<button style = "padding-right:5%;margin-top:1%;border-radius:0px;"  type="button" class="btn btn-info" data-toggle="modal" data-target="#view_collaborators" >
			<span class = "glyphicon glyphicon-eye-open"> Collaborators</span>
		</button>
	</div>

	<!-- pop up pannel for above actions button-->

	<!-- pop up modal for add new collaborator on a given project-->
	<div>
		<div id = "add_collaborator" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Add collaborator on {{project.title|title}} project</h4>
					</div>
					<div class="modal-body" style = "min-height:300px;">
						comming soon!!

						<form role = "form" onsubmit = "return ">
							{% csrf_token %}
							
						</form>
					</div>
				</div>
			</div>						
		</div>
	</div>


	<!--pop up modal for  create issue for a given project-->
	<div>
		<div id = "add_issue" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Create issue on {{project.title|title}}</h4>
					</div>
					<div class="modal-body" style = "min-height:300px;">
						<form role = "form" onsubmit = "return ">
							{% csrf_token %}
							comming soon
						</form>
					</div>
				</div>
			</div>						
		</div>
	</div>


	<!--pop up modal for edit details for a given project-->
	<div>
		<div id = "edit_project" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Edit {{project.title|title}} project</h4>
					</div>
					<div class="modal-body" style = "min-height:300px;">
						<form role = "form" action = "{% url 'editProject' loginUser.id project.id %}" method = "POST" onsubmit = "return validateEditProject()">
							{% csrf_token %}
							<div class = "form-group">
			    				<input type="text" class="form-control" id="edited_title_of_project" value = "{{project.title}}" name = "edited_title_of_project" placeholder="Title Of the project">
			    			</div>	
			    			<div class = "form-group">
			    				<textarea class = "form-control" id = "edited_description_of_project" name = "edited_description_of_project" row = "15" placeholder = "What is the project about?">{{project.description}}</textarea>
			    			</div>
			    			<div class = "form-group">
			    				<button class = "btn btn-info form-control" >
			    					<span class = "glyphicon glyphicon-save"> Save changes</span>
			    				</button>
			    			</div>
						</form>
					</div>
				</div>
			</div>						
		</div>
	</div>


	<!--pop up modal for delete the project-->
	<div>
		<div id = "delete_project" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Delete {{project}} project</h4>
					</div>
					<div class="modal-body" style = "min-height:250px;">
						<div style = "margin-top:4%;padding-left:2%">
							<!-- warning for delete the project-->
							<p style = "font-size:15px;fot-style:italic;color:red;">Are you sure want to delete {{project.title|title}} project ? </p>

							<!--button for delete the project-->
							<div style = "max-width:100%;margin:auto;margin-top:3%;" >								

								<form role = "form" action = "{% url 'deleteProject' loginUser.id project.id  %}" method = "POST">
									{% csrf_token %}
									<div class = "form-group" style = "max-width:65%;margin:auto;">
					    				<button class = "btn btn-danger form-control" >
					    					<span class = "glyphicon glyphicon-ok"> Delete </span>
					    				</button>
					    			</div>									
									
								</form>								
							</div>
						</div>
					</div>
				</div>
			</div>						
		</div>
	</div>


	<!--pop up modal for view all issues on a given project-->
	<div>
		<div id = "view_issues" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">List of issues on {{project.title|title}} project</h4>
					</div>
					<div class="modal-body" style = "min-height:300px;">
						comming soon!!
					</div>
				</div>
			</div>						
		</div>
	</div>


	<!--pop up modal for view collaborators for a given project-->
	<div>
		<div id = "view_collaborators" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">List of Collaborators on {{project.title}} project</h4>
					</div>
					<div class="modal-body" style = "min-height:300px;">
						comming soon!!
					</div>
				</div>
			</div>						
		</div>
	</div>
	<!-- end for pop up modlas for all action buttons-->
</div>


{% endblock %}